---
title: "eThesaurus"
description: >
    Content management system for 3D scenes of digitized cultural heritage collections.
    Explore the intricate details and craftsmanship of historical artifacts like never before.
---

<section class="section section-center">
    <h2 class="text-white my-5" style="font-size: 3rem">eThesaurus</h2>
</section>

<section class="section left">
    <img src="/assets/img/thesaurus.webp">
    <div class="content">
        <h2>Medieval goldsmithing put to the test of digital modeling</h2>
        <p>
            e.thesaurus is a project in the field of art history and techniques, led by a team of French and Belgian academics, museum curators, and Holusion, a specialist in innovative digital display.
        </p>
    </div>
</section>

<section class="section section-white left">
    <div class="content">
        <h3>A project with two joint objectives in a scientific research framework</h3>
        <p>
            Development of 3D models of medieval goldsmithing pieces
        </p>
        <p>with:</p>
        <ul>
            <li>augmented reality restitution of artifacts</li>
            <li>creation of a database (e.corpus) linked to 3D models</li>
            <li>creation of innovative digital mediation devices</li>
        </ul>
        <p>for:</p>
        <ul>
            <li>promotion of a 3D catalog and analysis tool</li>
            <li>valorization in a museum mediation context</li>
        </ul>
    </div>
</section>

<section class="section section-center">
    <h2>e-corpus – e-thesaurus: decentralized 3D object databases</h2>
</section>

<section class="section">
    {% include voyager.html embed="pied-de-croix" class="h-100" %}
    <div class="content">
        <h4>Editing tools for researchers and curators</h4>
        <ul>
            <li>Adding data directly on the geometry</li>
            <li>Writing articles</li>
            <li>Organizing guided tours</li>
        </ul>
        <h4>Features</h4>
        <ul>
            <li>Collaborative work</li>
            <li>Authentication</li>
            <li>Modification history</li>
        </ul>
        <h4>Data export</h4>
        <ul>
            <li>Web application for consultation</li>
            <li>Interactive hologram</li>
        </ul>
    </div>
</section>

<section class="section section-center">
    <h2>Interactive holographic terminal linked in real-time to the e-corpus Web3D application.</h2>
    {% include youtube.html embed="ajOZ_fe8kso" %}
</section>
