$backgroundColor: #103040;
$bodyColor: #ffffff;
$bodyFont: 'Open Sans',Roboto,sans-serif;
$serifFont: 'Noto Serif', serif;

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  height: 100vh;
}

footer {
  height: 45px;
}

main {
  min-height: calc(100% - 45px);
}

h1, h2, h3 {
  font-family: $serifFont;
}

.youtube-video {
  cursor: pointer;
  &:before{
    background-color: #000;
    position: relative;
    overflow: hidden;
  }
  .play-button {
    &:before {
      content: "";
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      position: absolute;
      border-style: solid;
      border-width: 15px 0 15px 26px;
      border-color: transparent transparent transparent #fff;
    }
    width: 90px;
    height: 60px;
    background-color: #333;
    box-shadow: 0 0 30px rgb(0 0 0 / 60%);
    z-index: 1;
    opacity: 0.8;
    border-radius: 6px;
    top: 50%;
    left: 50%;
    margin: -45px;
    transition: transform .3s ease-in-out;
  }
  &:hover .play-button{
    background-color: #f00;
    transform: scale(1.1);
  }
}

.voyager-btn{
  display: inline-block;
  background-color: #272727;
  padding: 0.5rem 1rem;
  text-align: center;
  &.icon-only{
    width: auto;
  } 
  &.voyager-btn-rounded{
    padding: 5px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
  }   
  svg{
    height: 1.2rem;
    fill: white;
  }

}