---
title: "L’orfèvrerie médiévale à l’épreuve de la modélisation numérique"
description: >
    Présentation du système de gestion de scènes 3D eCorpus.
    Découvrez les détails des oeuvres numérisées par le projet eThesaurus
    pour la valorisation du patrimoine d'orfèvrerie médiévale des 12 et 13e siècles.
---

<section class="section section-center">
    <h2 class="text-white my-5" style="font-size: 3rem">eThesaurus</h2>
</section>

<section class="section left">
    <img class="cover img-fluid" style="object-position: 70% 0;" src="/assets/img/focus_stbertin_matthieu.webp" alt="Gros plan sur le pied de croix de l'abbaye de Saint-Bertin. l'évangéliste Matthieu devant son pupitre, tourné vers son symbole (l'ange). Réalisé en image de synthèse à partir d'une photogrammétrie">
    <div class="content">
        <h2>L’orfèvrerie médiévale à l’épreuve de la modélisation numérique</h2>
        <p>
            eThesaurus est un projet d’histoire de l’art et des techniques, porté par une équipe d’universitaires français et belges, de conservateurs de musées et la société Holusion, spécialiste de l’affichage digital innovant.    
        </p>
    </div>
</section>

<section class="section section-white left">
    <div class="content">
        <h2>Un projet, deux finalités conjointes</h2>
        <p>
            Développement de modèles 3D de pièces d’orfèvrerie médiévale dans un cadre de recherche scientifique
        </p>
        <h4>avec :</h4>
        <ul>
            <li>restitution en réalité augmentée des artefacts</li>
            <li>création d’une base de données (e.corpus) liées aux modèles 3D</li>
            <li>création de dispositifs numériques de médiation innovants</li>
        </ul>
        <h4>pour :</h4>
        <ul>
            <li>valorisation d’un catalogue 3D, d’un outil d’analyse</li>
            <li>valorisation dans un cadre de médiation muséale</li>
        </ul>
    </div>
</section>

<section class="section section-center">
    <h2>eCorpus: bases de données d'objets 3D décentralisées</h2>
</section>

<section class="section">
    <div class="media">
        {% include voyager.html embed="croix-reliquaire" class="h-100" %}
    </div>
    <div class="content">
        <h4>Outils  d’édition  pour  les  chercheurs  et  les  
        conservateurs</h4>
        <ul>
            <li>Ajouts de données directement sur la géométrie</li>
            <li>Rédactions d’articles</li>
            <li>Organisation de visites guidées</li>
        </ul>
        <h4>Fonctionnalités</h4>
        <ul>
            <li>Travail collaboratif</li>
            <li>Authentification</li>
            <li>Historique des modifications</li>
        </ul>
        <h4>Export des données</h4>
        <ul>
            <li>Application web pour la consultation</li>
            <li>Hologramme interactif</li>
        </ul>
    </div>
</section>

<section class="section section-white">
    <h2>valorisation et médiation</h2> 
</section>

<section class="section section-center">
    <div class="content">
        <p>
            eCorpus est développé dès le départ avec un objectif de diffusion du patrimoine et de médiation culturelle. Les catalogues peuvent s'intégrer dans un site internet ou sous la forme d'applications interactives en espaces publics.
        </p>
    
        <p>
            Des dispositifs tels que des <a href="https://holusion.com/fr/posts/2022-10-20-culture-holo">hologrammes</a> permettant la valorisation du patrimoine numérisé.
        </p>
    </div>

</section>

<section class="section section-center">
    <h2>Borne holographique interactive connectée à eCorpus</h2>
    {% include youtube.html  embed="ajOZ_fe8kso" %}
</section>
