<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>

    {%- if page.description -%}
      <meta name="description" content="{{ page.description | strip_html | truncatewords:155|escape }}" />
      <meta property="og:description" content="{{page.description | strip_html | truncatewords:297|escape}}"/>
    {%- else -%}
      <meta name="description" content="{{site.data.strings.site-description[page.lang]}}" />
    {%- endif -%}

    {%- if page.image -%}
        <meta name="twitter:image"  content="{{site.url}}{{page.image}}">
        <meta property="og:image" content="{{site.url}}{{page.image}}"/>
    {%- endif -%}
    {%- if page.lang -%}
      <meta property="og:locale" content="{{page.lang}}"/>
    {%- endif -%}

    <link rel="stylesheet" href="https://holusion.com/css/theme.css">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="icon" type="image/png" href="/assets/img/logo-ecorpus.png">

    <script defer="" src="https://holusion.com/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body class="main-dark">
    <!-- Header -->
    <nav id="navbar-top" class="navbar navbar-expand-md fixed-top navbar-dark" role="navigation">
      <div class="container">
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar-collapse-1" aria-expanded="false">
          <span class="visually-hidden">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-header me-3 p-2">
          <a href="/{{page.lang}}/" class="navbar-brand" aria-label="ecorpus logo">
            <img src="/assets/img/logo-ecorpus.png" alt="logo e-corpus" height="32"><span class="px-2 text-light">e-Thesaurus</span> 
          </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav ms-auto" role="menu">
            <li class="nav-item">
              <a class="nav-link" href="/{{page.lang}}/About">{{site.data.nav.about[page.lang]}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/{{page.lang}}/collection/">{{site.data.nav.collection[page.lang]}}</a>
            </li>
            {% include components/language_picker.html type="nav-item dropdown" classes="nav-link" %}
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    {{ content }}
    <!-- Footer -->
    <footer class="text-white bg-dark">
      <nav id="navbar-bottom" role="navigation"  class="p-2">
        <div class="container text-center">
          <a class="text-white" href="https://holusion.com">Holusion.com</a>
        </div>
      </nav>      
    </footer>


  </body>
</html>
