---
layout: default
---

<div class="sidebar-layout">
    <div style="position: absolute; width: 250px;">
        <nav>
            <h2>{{ site.data.doc.guide[page.lang] }}</h2>
            <ul>
                {% for item in site.pages %}
                    {%if item.type == "doc" and item.category == "guide" and item.lang == page.lang %}
                        <li><a href={{item.url}}>{{ item.title }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
            <h2>{{ site.data.doc.tutorial[page.lang] }}</h2>
            <ul>
                {% for item in site.pages %}
                    {%if item.type == "doc" and item.category == "tutorial" and item.lang == page.lang %}
                    <li><a href={{item.url}}>{{ item.title }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>
    <main class="main-grid" style="margin-left: 250px;">
        {{ content }}
    </main>
</div>
